:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;

  background-color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-height: 1440px;
  margin: auto;
  background-color: var(--white);
  border-radius: 15px;
  border-bottom-right-radius: 120px;
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.date-input {
  display: flex;
}

.details {
  position: relative;
  bottom: -10px;
  font-size: 10px;
  font-weight: 700;
  color: var(--smoke-grey);
}

.date-input input {
  border: 1px var(--light-grey) solid;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  width: 115px;
  height: 50px;
  margin-right: 15px;

  font-size: 32px;
  font-weight: 700;
}

.date-input input:focus {
  border: 2px var(--purple) solid;
  outline: none;
}

.input-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input-details span {
  font-size: 10px;
  color: var(--light-red);
  font-weight: 400;
  font-style: italic;
  /* visibility: hidden; */
}

.btn-div {
  position: relative;
}

.line {
  border-bottom: 2px var(--off-white) solid;
  /* display: inline-block; */
}

.submit-btn {
  background-color: var(--purple);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: -23px;
  right: 0px;
  /* display: inline-block; */
}

.submit-btn:hover {
  background-color: black;
}

.submit-btn img {
  width: 20px;
}

.result-div {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
}

.result-div h1 {
  margin: 0;
}
.result-div span {
  color: var(--purple);
}

#error-day {
  color: red;
}
